@font-face {
  font-family: "GT";
  src: url("./assets/GT.woff") format("woff"), url("./assets/GT.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Montserrat, Helvetica, sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 64em) {
  html {
    overflow: hidden;
  }
}

:root {
  --offWhite: #e7e7e7;
  --offWhiteSeeThrough: #e8e8e8cc;
  --offWhiteDarkShadow: #c4c4c4;
  --offWhiteLightShadow: #ffffff;
  --blackShadow: hsla(242, 100%, 6%, 0.2);
  --shadowOverlayDark: #0000001a;
  --shadowOverlayLight: #9898981a;
}

body {
  background-color: var(--offWhite);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}

.nav {
  position: fixed;
  z-index: 334;
  width: 1024px;
  top: 4rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  height: 5rem;
  border-radius: 4rem;
  background-color: var(--offWhiteSeeThrough);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  -webkit-box-shadow: 0 0 3rem var(--blackShadow);
          box-shadow: 0 0 3rem var(--blackShadow);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

@media only screen and (max-width: 64em) {
  .nav {
    width: 100%;
    top: 0;
    border-radius: 0 0 3rem 3rem;
    height: 7rem;
  }
}

@supports not ((-webkit-backdrop-filter: blur(2rem)) or (backdrop-filter: blur(2rem))) {
  .nav {
    background-color: var(--offWhite);
  }
}

.footer {
  height: 800px;
  background: orange;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 3rem;
  margin: 0 auto;
  max-width: 1600px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 3rem;
  position: relative;
}

@media only screen and (max-width: 64em) {
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0;
    padding: 0;
    margin-top: 7rem;
  }
}

.grid .box1,
.grid .box3 {
  height: calc(100vh - 12rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 64em) {
  .grid .box1,
  .grid .box3 {
    height: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    z-index: 333;
  }
}

.grid .box1 {
  will-change: transform;
}

@media only screen and (max-width: 64em) {
  .grid .box1 {
    position: relative;
    padding: 3rem;
    height: auto;
    border-radius: 3rem 3rem 0 0;
    background-color: var(--offWhite);
    -webkit-box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
  }
  .grid .box1::before {
    content: "";
    width: 5rem;
    height: 0.5rem;
    background: #575757;
    border-radius: 2rem;
    position: absolute;
    top: 1rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media only screen and (max-width: 37.5em) {
  .grid .box1 {
    padding: 5vw;
  }
}

.grid .box1 .p-title {
  font-family: GT, Helvetica;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 64em) {
  .grid .box1 .p-title {
    width: 50%;
    margin-top: 3rem;
  }
}

.grid .box1 .p-color {
  margin-bottom: 3rem;
}

.grid .box1 .p-price {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 64em) {
  .grid .box1 .p-price {
    margin-bottom: 0;
  }
}

.grid .box1 .p-desc {
  max-height: 50%;
  overflow: hidden;
}

@media only screen and (max-width: 64em) {
  .grid .box1 .p-desc {
    display: none;
  }
}

.grid .box3 .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 3rem;
}

@media only screen and (max-width: 64em) {
  .grid .box3 .wrapper {
    padding: 3rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    height: auto;
    background-color: var(--offWhite);
    overflow: hidden;
  }
}

@media only screen and (max-width: 37.5em) {
  .grid .box3 .wrapper {
    padding: 5vw;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 64em) {
  .grid .box3 .box-3-p-desc {
    display: none;
  }
}

.grid .box3 .color-container {
  height: 10rem;
}

@media only screen and (max-width: 37.5em) {
  .grid .box3 .color-container {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.grid .box3 .addtocart {
  padding: 2rem 3rem;
  background-color: var(--offWhite);
  -webkit-box-shadow: 0.7rem 0.7rem 1.4rem var(--offWhiteDarkShadow), -0.7rem -0.7rem 1.4rem var(--offWhiteLightShadow);
          box-shadow: 0.7rem 0.7rem 1.4rem var(--offWhiteDarkShadow), -0.7rem -0.7rem 1.4rem var(--offWhiteLightShadow);
  border: none;
  outline: none;
  border-radius: 3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: GT, Helvetica;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(500px);
          transform: perspective(500px);
}

@media only screen and (max-width: 37.5em) {
  .grid .box3 .addtocart {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.grid .box3 .addtocart:hover {
  -webkit-box-shadow: 1.4rem 1.4rem 2.8rem var(--offWhiteDarkShadow), -1.4rem -1.4rem 2.8rem var(--offWhiteLightShadow);
          box-shadow: 1.4rem 1.4rem 2.8rem var(--offWhiteDarkShadow), -1.4rem -1.4rem 2.8rem var(--offWhiteLightShadow);
}

.grid .box3 .addtocart:active {
  -webkit-box-shadow: 0.3rem 0.3rem 0.7rem var(--offWhiteDarkShadow), -0.3rem -0.3rem 0.7rem var(--offWhiteLightShadow);
          box-shadow: 0.3rem 0.3rem 0.7rem var(--offWhiteDarkShadow), -0.3rem -0.3rem 0.7rem var(--offWhiteLightShadow);
  -webkit-transform: perspective(500px) scale3d(0.9, 0.9, 0.9) !important;
          transform: perspective(500px) scale3d(0.9, 0.9, 0.9) !important;
}

.grid .box3 .addtocart:active span {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.grid .box3 .addtocart span {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: translateZ(40px);
          transform: translateZ(40px);
  display: block;
}

.grid .box3 .size-container {
  height: 10rem;
}

@media only screen and (max-width: 37.5em) {
  .grid .box3 .size-container {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media only screen and (min-width: 64em) {
  .grid .box3 .accardion-container {
    width: calc(50vw - 6rem);
    max-width: calc(600px - 4rem);
    height: 5rem;
    position: absolute;
    z-index: 3;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 3rem;
    border-radius: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0.89, 0.02, 0.04, 0.97);
    transition: all 0.3s cubic-bezier(0.89, 0.02, 0.04, 0.97);
    background-color: var(--offWhiteSeeThrough);
    -webkit-backdrop-filter: blur(2rem);
            backdrop-filter: blur(2rem);
    -webkit-box-shadow: 0 0 3rem var(--blackShadow);
            box-shadow: 0 0 3rem var(--blackShadow);
  }
}

@media only screen and (max-width: 64em) {
  .grid .box3 .accardion-container {
    padding-top: 3rem;
    grid-column: 1/-1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-auto-flow: row dense;
    grid-gap: 3rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media only screen and (max-width: 37.5em) {
  .grid .box3 .accardion-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.grid .box3 .accardion-container .item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000000cb;
}

@media only screen and (min-width: 64em) {
  .grid .box3 .accardion-container .item {
    padding: 0 1rem;
  }
  .grid .box3 .accardion-container .item:hover {
    color: #000000;
  }
  .grid .box3 .accardion-container .item:hover .title-wrapper {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  .grid .box3 .accardion-container .item:hover .body-wrapper {
    opacity: 1;
    visibility: visible;
  }
}

@media only screen and (max-width: 64em) {
  .grid .box3 .accardion-container .item {
    background-color: var(--offWhite);
    -webkit-box-shadow: 0.7rem 0.7rem 1.4rem var(--offWhiteDarkShadow), -0.7rem -0.7rem 1.4rem var(--offWhiteLightShadow);
            box-shadow: 0.7rem 0.7rem 1.4rem var(--offWhiteDarkShadow), -0.7rem -0.7rem 1.4rem var(--offWhiteLightShadow);
    border-radius: 3rem;
  }
}

.grid .box3 .accardion-container .item .title-wrapper {
  cursor: pointer;
  font-weight: 600;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 64em) {
  .grid .box3 .accardion-container .item .title-wrapper {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 5rem;
  }
}

@media only screen and (max-width: 64em) {
  .grid .box3 .accardion-container .item .title-wrapper {
    padding: 2rem 3rem 2rem 3rem;
    position: relative;
    font-family: GT;
  }
  .grid .box3 .accardion-container .item .title-wrapper::after {
    content: "+";
    position: absolute;
    top: 50%;
    right: 3rem;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    -webkit-transition: all 0.2s cubic-bezier(0.89, 0.02, 0.04, 0.97);
    transition: all 0.2s cubic-bezier(0.89, 0.02, 0.04, 0.97);
    font-weight: 800;
    font-size: 2rem;
    font-family: Montserrat;
  }
  .grid .box3 .accardion-container .item .title-wrapper.active::after {
    -webkit-transform: translate(50%, -50%) rotate(45deg);
            transform: translate(50%, -50%) rotate(45deg);
  }
}

.grid .box3 .accardion-container .item .body-wrapper {
  -webkit-transition: all 0.3s cubic-bezier(0.89, 0.02, 0.04, 0.97);
  transition: all 0.3s cubic-bezier(0.89, 0.02, 0.04, 0.97);
  max-height: 30vh;
  overflow: auto;
  font-size: 1.2rem;
  line-height: 2rem;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(231, 231, 231, 0)), color-stop(10%, #e7e7e7), color-stop(90%, #e7e7e7), to(rgba(231, 231, 231, 0)));
  -webkit-mask-image: linear-gradient(180deg, rgba(231, 231, 231, 0) 0%, #e7e7e7 10%, #e7e7e7 90%, rgba(231, 231, 231, 0) 100%);
}

.grid .box3 .accardion-container .item .body-wrapper::-webkit-scrollbar {
  display: none;
}

.grid .box3 .accardion-container .item .body-wrapper li {
  list-style: circle;
}

@media only screen and (min-width: 64em) {
  .grid .box3 .accardion-container .item .body-wrapper {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    bottom: 5rem;
    width: 100%;
  }
}

@media only screen and (max-width: 64em) {
  .grid .box3 .accardion-container .item .body-wrapper {
    position: relative;
    height: 0;
    max-height: 30vh;
  }
}

.grid .box3 .accardion-container .item .body-wrapper .item-body {
  padding: 3rem;
  padding-left: 5rem;
}

@supports not ((-webkit-backdrop-filter: blur(2rem)) or (backdrop-filter: blur(2rem))) {
  @media only screen and (min-width: 64em) {
    .grid .box3 .accardion-container {
      background-color: var(--offWhite);
    }
  }
}

.grid .box3 .ymal-tabPhone {
  font-family: GT;
  font-size: 1.5rem;
  padding-top: 3rem;
  grid-column: 1/-1;
  border-top: 2px solid var(--offWhiteDarkShadow);
  margin-top: 3rem;
}

@media only screen and (min-width: 64em) {
  .grid .box3 .ymal-tabPhone {
    display: none;
  }
}

.grid .box3 .similar-products {
  background-color: var(--offWhite);
}

@media only screen and (min-width: 64em) {
  .grid .box3 .similar-products {
    height: 100%;
    width: calc(25% - 3rem);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 3rem;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 64em) {
  .grid .box3 .similar-products {
    grid-column: 1/-1;
    position: relative;
    height: 43rem;
  }
}

.grid .box3 .similar-products .ymal {
  font-family: GT;
  font-size: 1.5rem;
  padding: 3rem 0;
}

@media only screen and (max-width: 64em) {
  .grid .box3 .similar-products .ymal {
    display: none;
  }
}

.grid .box3 .similar-products .swiper-container-sp {
  height: 100%;
  width: 100%;
  padding: 24rem 0;
}

@media only screen and (max-width: 64em) {
  .grid .box3 .similar-products .swiper-container-sp {
    padding: 0;
    padding: 0;
    position: absolute;
    top: 0rem;
    left: 0;
  }
}

.grid .box3 .similar-products .swiper-container-sp .swiper-wrapper .swiper-slide {
  will-change: transform;
  background-color: var(--offWhite);
  -webkit-box-shadow: 1.4rem 1.4rem 2.8rem var(--offWhiteDarkShadow), -1.4rem -1.4rem 2.8rem var(--offWhiteLightShadow);
          box-shadow: 1.4rem 1.4rem 2.8rem var(--offWhiteDarkShadow), -1.4rem -1.4rem 2.8rem var(--offWhiteLightShadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3rem;
}

@media only screen and (min-width: 64em) {
  .grid .box3 .similar-products .swiper-container-sp .swiper-wrapper .swiper-slide {
    width: 100%;
    height: auto;
    padding-top: 125%;
  }
}

@media only screen and (max-width: 64em) {
  .grid .box3 .similar-products .swiper-container-sp .swiper-wrapper .swiper-slide {
    width: 30rem;
    height: 40rem;
  }
}

.grid .box2 {
  will-change: transform, filter;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

@media only screen and (max-width: 64em) {
  .grid .box2 {
    position: -webkit-sticky;
    position: sticky;
    top: 7rem;
    height: 70vh;
    padding: 3rem 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media only screen and (max-width: 37.5em) {
  .grid .box2 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5vw 0;
  }
}

.grid .box2 .swiper-container {
  height: 100%;
  width: 100%;
  padding-top: 12rem;
  padding-bottom: 12rem;
}

@media only screen and (max-width: 64em) {
  .grid .box2 .swiper-container {
    padding: 0;
  }
}

.grid .box2 .swiper-container .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid .box2 .swiper-container .swiper-wrapper .swiper-slide {
  will-change: transform;
  width: 100%;
  height: auto;
  max-height: calc(100vh - 12rem);
  max-width: calc((100vh - 12rem) * 0.75);
  position: relative;
  border-radius: 3rem;
  overflow: hidden;
}

@media only screen and (max-width: 64em) {
  .grid .box2 .swiper-container .swiper-wrapper .swiper-slide {
    width: auto;
    height: 100%;
    border-radius: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .grid .box2 .swiper-container .swiper-wrapper .swiper-slide {
    width: 90vw;
    height: 112.5vw;
  }
}

.grid .box2 .swiper-container .swiper-wrapper .swiper-slide img,
.grid .box2 .swiper-container .swiper-wrapper .swiper-slide video {
  width: 100%;
}

@media only screen and (max-width: 64em) {
  .grid .box2 .swiper-container .swiper-wrapper .swiper-slide img,
  .grid .box2 .swiper-container .swiper-wrapper .swiper-slide video {
    width: auto;
    height: 100%;
  }
}

@media only screen and (max-width: 37.5em) {
  .grid .box2 .swiper-container .swiper-wrapper .swiper-slide img,
  .grid .box2 .swiper-container .swiper-wrapper .swiper-slide video {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.grid .box2 .swiper-container .swiper-wrapper .swiper-slide model-viewer {
  height: calc(100vh - 23rem);
  width: 100%;
  --poster-color: transparent;
}

@media only screen and (max-width: 64em) {
  .grid .box2 .swiper-container .swiper-wrapper .swiper-slide model-viewer {
    width: calc((70vh - 6rem) * 0.75);
    height: 100%;
  }
}

@media only screen and (max-width: 37.5em) {
  .grid .box2 .swiper-container .swiper-wrapper .swiper-slide model-viewer {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.grid .box2 .swiper-container .swiper-wrapper .swiper-slide model-viewer #lazy-load-poster {
  position: absolute;
  left: 50%;
  /* right: 0; */
  top: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40%;
  /* height: 100%; */
  background-image: url(https://cdn.shopify.com/s/files/1/0483/4597/2898/files/ALPHALETE.png?v=1600205087);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.grid .box2 .swiper-container .swiper-wrapper .swiper-slide .shadow-overlay {
  will-change: transform;
  height: 100%;
  width: 100%;
  border-radius: 3rem;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 12;
  pointer-events: none;
  -webkit-box-shadow: inset 1.9rem 1.9rem 3.7rem var(--shadowOverlayDark), inset -1.9rem -1.9rem 3.7rem var(--shadowOverlayLight);
          box-shadow: inset 1.9rem 1.9rem 3.7rem var(--shadowOverlayDark), inset -1.9rem -1.9rem 3.7rem var(--shadowOverlayLight);
}

.grid .box2 .swiper-container .swiper-scrollbar {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  height: 50vh;
}

@media only screen and (max-width: 64em) {
  .grid .box2 .swiper-container .swiper-scrollbar {
    bottom: 3rem;
    left: 50%;
    height: 5px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 40vw;
  }
}

.grid .box2 .swiper-container .swiper-button-next,
.grid .box2 .swiper-container .swiper-button-prev {
  outline: none;
  background: var(--offWhiteSeeThrough);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 4rem;
  width: 4rem;
  font-size: 1.7rem;
  border-radius: 3rem;
  -webkit-box-shadow: 0 0 2rem var(--blackShadow);
          box-shadow: 0 0 2rem var(--blackShadow);
  color: #1d1d1d;
  top: calc(100% - 3rem);
}

@media only screen and (min-width: 64em) {
  .grid .box2 .swiper-container .swiper-button-next,
  .grid .box2 .swiper-container .swiper-button-prev {
    display: none;
  }
}

.grid .box2 .swiper-container .swiper-button-next::after,
.grid .box2 .swiper-container .swiper-button-prev::after {
  content: "";
}

.grid .box2 .swiper-container .swiper-button-next {
  right: 3rem;
}

.grid .box2 .swiper-container .swiper-button-prev {
  left: 3rem;
}
/*# sourceMappingURL=style.css.map */